@charset "UTF-8";
body {
    background-color: white;
	font-size: 16px;
	font-family: 'Special Elite', cursive;
	margin: 0;
	padding: 0;
    overflow-x: hidden;}


h2 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
}

h4 {
    text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 0px;
}

h5 {
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 0px;
}


.navigation{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

a.link-button {
	display: block;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.navigation a {
  text-decoration: none;
  color: #000;
  display: block;
}

.navigation a:hover {
  color: #666;
  display: block;
  transition: .6s background-color;
}

.header-image-wrapper{
	margin-bottom: 20px;
	width: 30vw;
}

.header-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding-left: 40px;
	padding-right: 40px;
}

.header{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.content-wrapper{
	width=100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

.section-header{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 40px;
	background-color: #fff;
}

.article-wrapper{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #fff;
}

.article{
	width: 40%;
	min-width: 300px;
	padding: 20px;
	margin: 5px;
	background-color: #fff;
}




/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 767px) {

	
.header-image-wrapper{
	margin-bottom: 40px;
	width: 80vw;
	}

.article{
	width: 90%;
}
	
.section-header{
	width: 90%;
	text-align: left;
	min-width: 300px;
	padding: 20px;
	margin: 5px;
	}
	
	
}
